body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.create button {
    background: #38bdf8;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 10px;
}

.create button:hover {
    border: 2px solid white;
}

.header {
    background-color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 50px;
    font-weight: bold;
    box-shadow: 0px 3px 4px #64748b;
    margin-bottom:4px;
    
    cursor: default;
}

.main {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #f0f9ff;
    min-height: 625px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.create {
    outline-style: solid;
    outline-width: 1px;
    padding: 30px;
    margin-top: 60px;
    margin-left: 30px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d3d1;
    border-radius: 10px;
    
}

.create:hover {
    transform: scale(1.05);
    box-shadow: 7px 7px 10px rgb(112, 112, 112);
}

.bookContainer {
    display: flex;
    flex-direction: column;
    outline-style: solid;
    outline-width: 1px;
    padding: 30px;
    margin-top: 60px;
    margin-left: 30px;
    max-height: 150px;
    max-width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #d6d3d1;
    border-radius: 10px;
}

.bookContainer:hover {
    transform: scale(1.05);
    box-shadow: 7px 7px 10px rgb(112, 112, 112)
}

.bookTitle {
    
    font-style: italic;
    margin-top: -20px;
    font-weight: bold;
    font-size: 20px;
    min-width: 0;
    max-width: 150px;
    flex: 1 1 auto;
    overflow-wrap: break-word;
}

.deleteButton {
    align-self: center;
    justify-self: flex-end;
    background-color: rgb(255, 74, 74);
    flex: 1 1 auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover {
    outline: 2px solid black;
}


.book {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    align-self: flex-start;
    flex: 1 1 auto;
    overflow-wrap: break-word;
    cursor: default;
}

.addform {
    display: flex;
    flex-direction: column;
    outline: black solid 1px;
    background-color: blanchedalmond;
    padding: 30px;
    max-height: 300px;
    max-width: 200px;
    margin-left: 820px;
    margin-top: 150px;
    opacity: 0;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 0.3s;
    position: fixed;
    gap: 10px;
}

.addform:hover {
    transform: scale(1.05); 
}

.addform button {
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

#submitBook:hover {
    outline: 2px solid black;
}


div.addform.show {
    opacity: 1;
    pointer-events:all;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.add {
    
    font-weight: 500;
    font-size: 15px;
}

.footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 30px;
   position: fixed;
   min-height: 100%;
   cursor: default;
   min-width: 100%;
}

.readBtn {
    color: blueviolet;
}

#closeBtn {
    background-color: transparent;
    border-color: transparent;
    align-self: flex-end;
    font-size: 30px;
    margin-top: -30px;
    margin-right: -30px;
    cursor: pointer;
    color: red;
}

#submitBook {
    background-color: #22c55e;
    margin-top: 20px;
    padding: 10px;
}

.readBox {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 5px;
    
}

.readText {
    align-self: center;
    cursor: default;
}


/** for the read button **/
.switch {
    
    position: relative;
    display: flex;
    width: 60px;
    height: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}